body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Quicksand", sans-serif; */
  font-family: var(--popinFont);
}
:root{
  --popinFont: "Poppins", sans-serif;
  --loginFormBorderColor: rgba(196, 143, 30, 0.658);
  --loginBtnBgColor: rgba(43, 59, 129, 0.767);
  --loginFontColor: #ffffff;
  --loginHederColor: rgb(0, 0, 0);
  --tableHeaderColor: #DBDBDB;
  --headingsColor: #3F3F3F;
  --editBtnColor: rgba(59, 113, 214, 0.911);
  --tableHeadColor: rgb(134, 132, 132);
  --delIconColor: red;
}